/* Main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}


#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3
}

p {
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 0rem;
}

h3 {
    font-size: 1.5rem;
}

/* Figure */
#about-figure {
    display: flex;
    align-items: center;
    text-align: center;
}
#about-figure img {
    width: 100%;
    max-width: 600px;
    border-radius:4%;
    border: 2px solid #4C6E64;
    padding: 0.5rem;
}

#about-figure figcaption {
    padding: 0 1rem;
}

/* Further Information */
#about-info {
    margin-bottom: 1rem;
}
.info-bar {
    padding: 1rem 1rem 0 0;
    border-left: 1px solid black;
    padding-left: 0.5rem;
}
.info-bar a {
    text-decoration: underline;
    color:black;
}
.info-bar a:hover {
    font-weight: bold;
}
.info-bar img {
    max-width: 40px;
}

/* Content order */
#about-content {
    order: 1;
}
#about-info {
    order: 2;
}

#about-info img {
    width: 2rem;
}

/* *** Tablet *** */
@media only screen and (min-width: 1000px) {
    main {
        margin: 0 auto 1rem;
        max-width: 80%;
    }
    #about-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        
    }
    #about-info {
        width: 35%;
        min-width: 35%;
        order: 0;
        padding: 1rem 0;
    }
    #about-content {
        width: 65%;
        padding: 1rem 0;
    }   
}

/* *** Desktop *** */
@media only screen and (min-width: 1300px) {
#about-info {
    width: 25%;
    min-width: 25%;
    order: 0;
    padding: 1rem 0;
}
#about-content {
    width: 75%;
    padding: 1rem 0;
}   
}
