/* Main Content Component */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

main article {
    width: 100%;
}
#blog-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width:50%; */
}



/* Blog Preview Section */
.blog-previews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1.5px solid #3B3C36;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 80%;
    max-width: 700px;
}
.blog-previews figure {
display: flex;
flex-direction: column;
align-items: center;
}

.blog-previews img {
    width: 50%;
    border-radius: 50%;
    border: 2px solid #EB9C5C;
    padding: 0.5rem;
}
.blog-previews h3 {
    margin: 1rem 0;
}
/* *** TABLET *** */
@media only screen and (min-width: 750px) {
     }
    .blog-previews img {
        width:65%;
}

/* *** DESKTOP *** */
@media only screen and (min-width: 1200px) {
    main {
        margin: 0 auto 5rem;
        max-width: 80%;
    }
    Section {
        flex-direction: row;
        align-items: flex-start;
    }

    #blog-rows {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .blog-previews {
        width: 20%;
        min-width: 200px;
    }
    .blog-previews img {
        width: 100%;
}
}