/* The blogcommon.css stylesheet is applied to the Blog Home Page (blog.html) and also all the individual blog post pages (blog1-5.html). */
/* It contains styling for the following Components: Blog Navigation and Blog Content. */


/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Blog Navigation Component */
#blog-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0 0;
    border: 2px solid #EB9C5C;
    background: #EB9C5C;
    border-radius: 0.5rem;
}
#blog-nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}
#blog-nav a:hover {
    color: white;
    font-weight: bold;
    /* text-decoration: underline; */
}

/* Blog Content Component */
/* Article - Used as a container for the Image and Content Section */
.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 1rem;
}
/* Sections */
.blogs-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Section */
#blog-img img {
    width: 80%;
    max-width: 600px;
    border-radius:4%;
    border: 2px solid #4C6E64;
    padding: 0.5rem;
}

/* Content Section */
#blog-content p {
    margin: .5rem 0;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 550px) {
    /* Blog Preview Component */
    /* Image Section */
    #blog-img {
        max-width: 400px;
    }
}

@media only screen and (min-width: 750px) {
    /* Blog Preview Component */
    /* Image Section */
    #blog-img {
        width:70%;
    }
}

/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 1000px) {
    /* Main */
    main {
        margin: 0 auto 5rem;
        max-width: 90%;
    }

    /* Blog Preview Component */
    /* Article */
    /* Used to align the sections within Article in a row */
    .blogs-container {
        flex-direction: row;
        flex: wrap;
        align-items: center;
        width: 100%;
    }

    /* Image Section */
    #blog-img {
        width: 40%;
    }
    #blog-img img {
        width: 90%;
    }

    /* Content Section */
    #blog-content {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {
    /* Main */
    main {
        margin: 0 auto 5rem;
        max-width: 80%;
    }

    /* Blog Preview Component */
    /* Image Section */
    #blog-img {
        min-width:330px;
    } 
}

@media only screen and (min-width: 1400px) {
    /* Image Section */
    #blog-img {
        width: 30%;
        min-width: 415px;
    }

    /* Content Section */
    #blog-content {
        width: 70%;
    }
}