@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@300;600;700&family=Rubik:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header Component */
header {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background: #53917E;
}

#branding {
    width: 30%; 
}

#logo-home {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    width:100%;
    margin: 1rem 0 0;
    
}

header nav a {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

#resume {
    background:#3B3C36;
    color:antiquewhite;
}

/* Main Component  */
p, a, h1, h2, h3, figcaption {
    font-family: 'Poppins', sans-serif;
}

    /* Titles for Each page */
#page-titles h1 {
    font-family: 'Rubik', sans-serif;
    color: #53917E;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}

#page-titles h2 {
    font-family: 'Rubik', sans-serif;
    color: #4C6E64;
    font-size: 1.8rem; 
    margin-bottom: 1rem;
    text-align:center;
}

/* Hero Component */

/* Social links Component */
#social-links {
    background:#53917E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#social-links p {
    color:black;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}

#social-links nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#social-links img {
    width: 35px;
}

/* Footer Component */
footer {
    text-align: center;
    padding: .5rem;
    margin: .25rem 0 0;
    background:#3B3C36;
}

footer p {
    font-size: .9rem;
    color: whitesmoke;
}

/* *** TABLET STYLES *** */
@media only screen and (min-width: 550px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
    }
    #logo-home {
        
        text-align: left;
        width: 12.5%;
    }

    #branding {
        margin-left: 1rem;
        width: 100%;
        max-width: 80px;
        
    }
    header nav {
        margin-top: 0;
    }
}

/* *** DESKTOP STYLES *** */
@media only screen and (min-width: 1000px) {
    header {
        justify-content: space-between;
    }
    header nav {
        width: auto;
    }
    header nav a {
        margin-right: 1rem;
    }
}