@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@300;600;700&family=Rubik:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header Component */
header {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.5rem;
    background: #53917E;
}

#branding {
    width: 50px;
    /* width: 50%; */
    margin-bottom: 1.5rem;
    
}

nav {
    display: flex;
    justify-content: space-around;
    width:100%;
    
}

nav a {
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

#resume {
    background:#3B3C36;
    color:antiquewhite;
}

/* Main Component  */
p, a, h1, h2, h3, figcaption {
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 0.5rem;
}

/* Hero Component */

/* Social links Component */
#social-links {
    background:#53917E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#social-links p {
    color:black;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}

#social-links nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#social-links img {
    width: 35px;
}

/* Footer Component */
footer {
    text-align: center;
    padding: .5rem;
    margin: .25rem 0 0;
    background:#3B3C36;
}

footer p {
    font-size: .9rem;
    color: whitesmoke;
}

