/* The experience.css stylesheet is only applied to the Experience Page */
/* It contains styling for the following Components: Experience  */

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

/* Experience Component */
/* Section */
#exp-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
/* Articles */
.exp-fsd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 2rem;
    border-bottom: 1.5px solid #3B3C36;
    margin: 1rem;
    width: 80%;
    max-width: 600px;
}
.exp-fsd p {
    margin-bottom: 1rem;
}
.exp-fsd a {
    text-decoration: underline;  
    color: black;
}
.exp-fsd a:hover {
    text-decoration: underline;
    font-weight: bold;  
}
.exp-fsd img {
    width: 50%;
    padding: 0.5rem;
}
.exp-fsd h3 {
    margin: 1rem 0;
}

/* *** TABLET AND DESKTOP *** */
@media only screen and (min-width: 1000px) {
    /* Main */
    main {
        margin: 0 auto 5rem;
        max-width: 80%;
    }

    /* Experience Component */
    /* Section */
    /* Used to align the Articles evenly within the Section */
    #exp-container Section {
        flex-direction: row;
        align-items: flex-start;
        border-bottom: 1.5px solid #3B3C36;
        padding: 0;
    }

    /* Article */
    .exp-fsd {
        width: 25%;
        min-width: 200px;
        border-bottom: none;
        padding: 1rem;
    }
    .exp-fsd img {
        width: 100%;
    }   
}